.admin-button {
    border-radius: 10px;
    background-color: #00A7E1; /* Replace with your desired background color */
    color: white;
    padding: 7px 15px;
    margin: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .admin-button:hover {
    background-color: #18bcf3; /* Replace with your desired hover background color */
  }